@charset "utf-8";

/* HEADER */
#tms-header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 8px 0 16px rgba(0, 0, 0, .05);
  z-index: 1000;
}
#tms-header::after {
  content: '';
  position: absolute;
  left: 0; top: 100%;
  width: 100%; height: 180px;
  background: #fff;
  box-shadow: 0 12px 16px -10px rgba(0,0,0,0.08);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 0;
}
#tms-header:hover::after {
  opacity: 1;
}
.header-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px; height: 70px;
  margin: 0 auto;
  z-index: 1;
}
/* LOGO */
.logo img {
  width: 160px;
}
/* GNB */
.gnb {
  display: flex;
}
.gnb>ul {
  display: flex;
  align-items: center;
}
.gnb-left {
  position: absolute;
  left: 0;
}
.gnb-right {
  position: absolute;
  right: 0;
}
.gnb-left>ul {
  gap: 48px;
}
.gnb-right>ul {
  gap: 56px;
}
.gnb-menu {
  position: relative;
}
.gnb-menu>a {
  font-weight: 600;
}
.gnb-menu::after {
  content: '';
  position: absolute;
  left: 0; top: 100%;
  width: 100%; height: 3px;
  background: var(--mc);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}
.gnb-menu:hover::after {
  transform: scaleX(1);
}
.user-menu::after {
  content: none;
}
.user-menu a {
  color: var(--st);
  font-size: 0.9rem;
}
/* SUB MENU */
.sub-menu {
  position: absolute;
  left: 50%; top: 180%;
  transform: translate(-50%, -10px);
  min-width: 120px;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.25s ease,
    transform 0.3s ease,
    visibility 0.25s;
}
#tms-header:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}
.sub-menu li a {
  display: block;
  padding: 8px 16px;
}
.sub-menu li a:hover {
  color: var(--mc);
}

/* FOOTER */
#tms-footer {
  width: 100%; height: 900px;
  margin-top: 200px;
}
.tms-footer-bg1 {
  position: relative;
  width: 100%; height: 100%;
  background: url(/assets/images/tms-footer-bg1.png) no-repeat 0 0/cover;
  border-radius: 150px 150px 0 0;
}
.tms-footer-bg2 {
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  /* background: url(/assets/images/tms-footer-bg2.png) no-repeat 0 0/cover; */
  pointer-events: none;
}
.footer-info {
  position: absolute;
  left: 10%; top: 25%;
}
.footer-info>div {
  margin-bottom: 40px;
}
.footer-info h3 {
  margin-bottom: 4px;
}
.sns-link img {
  width: 18px; height: 18px;
  margin-right: 8px;
}
.footer-info a {
  margin-right: 16px;
}
.footer-link a {
  color: var(--st);
}