@charset "utf-8";

.proposal_inner {
  max-width: 900px;
  border-radius: 20px;
  margin: 60px auto 20px;
}
.proposal_inner .btn_w {
  width: 100%;
}
.form_group {
  margin: 40px 0;
}
.form_group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}
label span {
  color: var(--raspberry-50);
}
.form_group input,
select,
textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border-bottom: 1px solid var(--raspberry-0);
}
textarea {
  resize: vertical;
}
.privacy_box {
  background: var(--mango-0);
  padding: 20px;
  border-radius: 12px;
  font-size: 0.8rem;
  margin: 30px 0;
}
.radio_group {
  display: flex;
  gap: 20px;
  margin-top: 12px;
}
.hidden {
  display: none;
}
input,
select,
textarea {
  border: none;
  border-bottom: 1px solid var(--raspberry-0);
  border-radius: 0;
  padding: 14px 6px;
}
input:focus {
  border-color: var(--raspberry-50);
}