@charset "utf-8";
@import url(/css/reset.css);
@import url(/css/common.css);

.tms-section-first {
  position: relative;
  max-width: 1700px; height: 740px;
  margin: 120px auto;
}
.swiper {
  position: relative;
  width: 100%; height: 100%;
  border-radius: 24px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  filter: brightness(0.85) grayscale(0.2);
}
[class^="swiper-button"] {
  color: #fff;
  padding: 0 20px;
}