@charset "utf-8";
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

:root {
  --raspberry-0: #FECDD3;
  --raspberry-50: #EE9DC2;
  --mango-0: #fdfaf7;
  --mango-50: #FFF0A0;
  --slate-50: #acacac;
  --slate-100: #3c3c3c;
}
body {
  font: 16px/1.8 'NanumSquareRound', sans-serif;
  color: var(--slate-100);
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.6rem;
  font-weight: 600;
}
.section {
  margin-top: 120px;
}


/* reset */
* {
  box-sizing: border-box;
}
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre, a,
img, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
footer, header,
nav, section,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
  color: var(--slate-100);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
	margin: 0;
	padding: 0;
  background: transparent;
  border: none;
  outline: none;
}
address {
  font-style: normal;
}