@charset "utf-8";

.shop_wrap .btn {
  width: 120px;
  padding: 8px 32px;
  background: var(--mango-50);
  color: var(--slate-100);
  margin-top: 16px;
}
.null {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 300px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--raspberry-0);
  color: var(--slate-50);
}
.null img {
  width: 80px;
}
.menu_wrap,
.shop_wrap {
  display: flex;
  min-height: 100vh;
}
.menu_category,
.shop_category {
  position: relative;
  width: 8%;
  min-width: 120px;
}
.category_inner {
  position: fixed;
  z-index: 2;
}
.category_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 60px;
}
.category_item {
  letter-spacing: 0.15em;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.category_item.is_active,
.category_item.beverage.is_active,
.category_item.food.is_active,
.category_item.living.is_active  {
  opacity: 1;
  color: var(--slate-100);
  font-weight: 600;
}
.category_item.is_active::after {
  content: '';
  display: block;
  width: 40px; height: 2px;
  background: var(--raspberry-0);
}
.category_item.beverage,
.category_item.food,
.category_item.living {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 0.85rem;
  transition: all 0.25s ease;
  margin-left: 12px;
  margin-bottom: 2px;
  letter-spacing: 0.1em;
  color: var(--slate-50);
  display: none;
}
.category_item.beverage.is_open,
.category_item.food.is_open,
.category_item.living.is_open {
  max-height: 28px;
  opacity: 1;
  display: block;
}

.menu_content,
.shop_content {
  width: 92%;
}
.menu_grid,
.shop_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.menu_card,
.shop_card {
  text-align: center;
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 30px var(--raspberry-z);
  cursor: pointer;
}
.menu_card img,
.shop_card img {
  width: 300px; height: 300px;
  margin-bottom: 16px;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .menu_wrap {
    flex-direction: column;
  }
  .menu_category,
  .menu_content {
    width: 100%;
  }
  .menu_category {
    min-height: 360px;
  }
}
@media (max-width: 768px) {
  .menu_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .menu_grid {
    grid-template-columns: 1fr;
  }
}