@charset "utf-8";

.content {
  padding: 0;
}
.story_bg1 {
  position: relative;
  width: 100%; height: 1100px;
  background: url(/assets/images/story-bg1.jpg) center 70%;
}
.story_bg2 {
  position: relative;
  width: 100%; height: 2000px;
  background: url(/assets/images/story-bg2.jpg);
}
.story_comment,
.story_content  {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.story_comment h3 {
  margin-bottom: 40px;
}
.story_bg1 .story_comment,
.story_bg2 .story_comment {
  top: 50%;
}
.story_content {
  top: 5.5%;
}
.content_inner {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 800px; height: 200px;
  margin-bottom: 85px;
  text-align: left;
}
.content_image {
  display: flex;
  justify-content: center;
  width: 200px; height: 200px;
  border-radius: 50%;
}
.content_inner:nth-of-type(1) .content_image {
  background: var(--mango-50);
}
.content_inner:nth-of-type(2) .content_image {
  background: var(--raspberry-0);
}
.content_inner:nth-of-type(3) .content_image {
  background: var(--mango-50);
}
.content_image img {
  width: 150px;
  object-fit: contain;
}