@charset "utf-8";

.section-story-bg1 {
  position: relative;
  width: 100%; height: 1300px;
  background: url(/assets/images/story-bg1.jpg);
}
.section-story-bg2 {
  position: relative;
  width: 100%; height: 2100px;
  background: url(/assets/images/story-bg2.jpg);
}