@charset "utf-8";


.section-story-bg1 {
  position: relative;
  width: 100%; height: 1300px;
  background: url(/assets/images/story-bg1.jpg);
}
.section-story-bg2 {
  position: relative;
  width: 100%; height: 2100px;
  background: url(/assets/images/story-bg2.jpg);
}
.story-comment,
.story-content  {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.story-comment h3 {
  margin-bottom: 40px;
}
.section-story-bg1 .story-comment {
  top: 60%;
}
.section-story-bg2 .story-comment {
  top: 50%;
}
.story-content {
  top: 5.2%;
}
.story-content-inner {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 800px; height: 200px;
  margin-bottom: 85px;
  text-align: left;
}
.story-content-image {
  display: flex;
  justify-content: center;
  width: 200px; height: 200px;
  border-radius: 50%;
}
.story-content-inner:nth-of-type(1) .story-content-image {
  background: var(--mango-50);
}
.story-content-inner:nth-of-type(2) .story-content-image {
  background: var(--raspberry-0);
}
.story-content-inner:nth-of-type(3) .story-content-image {
  background: var(--mango-50);
}
.story-content-image img {
  width: 150px;
  object-fit: contain;
}